/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Facebook button styling */
.facebook-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1877f2;
    color: #fff !important;
    margin: 0px !important;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.3s;
  }
  
  .facebook-btn:hover {
    background-color: #165ec8;
  }
  
  /* Google button styling */
  .google-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background-color: #db4437; /* Google+ Red */
    color: white !important;
    margin: 0px !important;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .google-btn:hover {
    background-color: #c1351d; /* Darker shade for hover effect */
  }
